<template>
  <div id="app">
    <h1>Ejemplo con vuex del coche de hijo a padre</h1>
    <Acelerometro></Acelerometro>
    <Freno></Freno>
    <Velociemetro></Velociemetro>
  </div>
</template>

<script>
 import Acelerometro from './components/Acelerometro.vue';
 import Velociemetro from './components/Velociemetro.vue';
 import Freno from './components/Freno.vue';
 import {store} from './store/store.js'
export default {
  store: store,
  components: {
    Acelerometro, Freno, Velociemetro
  },
  data () {
    return {

    }
  }
}
</script>

<style>

</style>
